h1 {
  font-size: 40px;
}
.history {
  display: flex;
  flex-direction: column;
}
.today-weather {
  margin: 10px 10px 10px 0px;
}
.list-group-item {
  border: none !important;
}
.city {
  font-size: 40px;
  font-weight: 600;
}
