h1 {
  font-size: 40px;
}
.history {
  display: flex;
  flex-direction: column;
}
.today-weather {
  margin: 10px 10px 10px 0px;
}
.list-group-item {
  border: none !important;
}
.city {
  font-size: 40px;
  font-weight: 600;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.weather-search {
  height: 50px;
}
.last-search {
  border: none !important;
  margin-bottom: 15px;
  background-color: rgb(184, 184, 184);
  border-radius: 5px;
  height: 40px;
}
.fs-5-card {
  background-color: rgb(50, 59, 75) !important;
  color: white !important;
  height: 15rem;
  padding: 5px;
}
